{% extends "login.html" %} 

{% block js %}
    
<script src="/static/js/register.js"></script>
{% endblock js %}
{% block logo_title %}
<title>天天果园-会员注册</title>
<style>
#right-login {
    margin-top: 0px;
    height: 394px;
}
</style>
{% endblock logo_title %} 

{% block page_title %} 会员注册 {% endblock%} 
{% block anchor %}
<a href="{% url 'login' %}">会员登录></a>
 {% endblock anchor %}

 {% block formhead %}
<div id='right-login'>
    <form action="" method="POST" id="Rform">
        {% csrf_token %}
{% endblock formhead %} 

{% block lowarea %}
<div>
    <span class="left-text">确认密码</span>
    <input type="password" name="cpassword" placeholder="请输入6-20位号码字符" class="entry">
</div>
<div>
    <span class="left-text">用户名</span>
    <input type="text" name="uname" class="entry">
</div>
<div>
    <span class="left-text">邮箱</span>
    <input type="email" name="uemail" class="entry">
</div>
{%endblock lowarea %}

