{% extends "author.html" %} {% block content %}
<form action="/03_aulist/" method="POST" name="form1">
    {% csrf_token %}
<tr>
    <td >
    {{au.id}}
    <input type="hidden" value ={{au.id}} name="id">
	</td>
    <td>
    <input type="text" value="{{au.name}}" name='name'>
	</td>
    <td>
	<input type="number" value="{{au.age}}" name="age">
    </td>
    <td>
    <input type="email" value="{{au.email}}" name="email">
    
	</td>
    <td>
        <a href="{% url 'del' au.id %}">删除</a>
        <a href="javascript:document.form1.submit();">确认修改</a>
    </td>
</tr>
</form>
{% endblock content %}